<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSUbiquitousContainers</key>
	<dict>
		<key>iCloud.FluentTodo</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<false/>
			<key>NSUbiquitousContainerName</key>
			<string>FluentTodo</string>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>None</string>
		</dict>
	</dict>
</dict>
</plist>
